extends ../layouts/main

block styles
    link(rel='stylesheet' href='/css/forms.css')

block main-content
    .add_category
        form(action='/admin/category' method='POST')
            input(type='hidden' name='_csrf' value=`${csrfToken}`)
            input(type="hidden" name="id" value=`${category._id}`)
            input(type='text' name='name' value=`${category.name}` placeholder='Kategori adı')
            input(type='text' name='imgurl' value=`${category.imgurl}` placeholder='Kategori resmi')
            textarea(name='description' rows="7" placeholder='Kategori açıklaması') #{category.description}
            button.button(type='submit') Kategoriyi Güncelle